/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 .clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
 }

body{
  background-image: url("images/boston_background_fade.png");
  height:100%;
  margin: 0;
  padding:0;
 }

.head-bckg{
  background-image: url("images/boston_banner.png");
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  height: 400px;
}

.title-index{
  padding-top: 5%;
  padding-left: 3%;
  text-align: left;
  color: #DFF1FD;
  font-size: 50px;
}
 .top-bar{
   background: #374e60;
 }

h1, h2, h3, h4, p, li{
  font-family: 'Raleway', sans-serif, 'Roboto Mono', monospace;
}

h1{
  color: #9d0000;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#home-btn{
  text-align: right;
}

#flash{
  background: #374e60;
  color: #DFF1FD;
}

h2{
  text-align: center;
  color: #9d0000;
  font-weight: bold;
  text-shadow: 4px 3px 0px #f5e5e5;
}

.place-tile-items {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  box-shadow: -5px 5px #243440, -5px 5px #243440;
  list-style-type: none;
  display: block;
  background: #537691;
}

#username {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 14px;
}

#place-tile-name {
  color: #edf1f4
}

#place-tile-descp{
  color: #edf1f4;
  font-size: 20px;
}

.address{
  list-style-type: none;
}

.index-category{
  float: left;
  width: 20%;
  padding-right: 30px;
  background: #537691;
  height: 100%;
  position: absolute;
}

.btn{
  text-align: center;
  font-size: 18px;
  box-shadow: -5px 5px #243440, -5px 5px #243440;
  background: #DFF1FD;
  list-style-type: none;
  border-radius: 50px;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.btn:hover{
  background-color: #abd8f2;
  color: #ffffff;
}

.btn:active{
  color: purple;
  background-color: #7bb0ce;
}

.index-list{
  float: right;
  width: 80%;
}


.photos{
  width: 30%;
  float: left;
  padding: 20px;
  padding-top: 0;
}

.place-info{
  width: 70%;
  float: right;
}

ul{
  list-style-type: none;
}

.description{
  font-weight: bold;
  font-size: 24px;
}

.address{
  font-weight: bold;
  font-size: 24px;
}

.submitted-reviews{
  width: auto;
  margin-left: 3%;
  margin-right: 3%;
  padding: 3%;
  background-color: rgba(55, 78, 96, 0.5)
}

.form-field {
  width: auto;
  margin: 5% 15%;
  padding: 2% 5%;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(223, 241, 253, 0.6);
  font-size: 12px;
}

label{
  font-size: 1.5rem;
  color: black;
}

input {
font-size: 28px;
border-radius: 10px;
}

#error_explanation ul li{
list-style-type: none;
}
